<div class="nested-fields">
  <%= child_field.label :code %>
  <%= child_field.text_field :code %>

  <%= child_field.label :name %>
  <%= child_field.text_field :name %>

  <%= link_to_remove_association 'remove child', child_field %>
</div>
