<%= form_with(model: parent, local: true) do |form| %>
  <% if parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parent.errors.count, "error") %> prohibited this parent from being saved:</h2>

      <ul>
      <% parent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div id="children">
    <%= form.fields_for :children do |child_field| %>
      <%= render 'child_fields', child_field: child_field %>
    <% end %>

    <div id="add_child">
      <%= link_to_add_association 'add child', form, :children, form_name: :child_field %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  $(function() {
    $('#children').on('cocoon:after-insert', function() {
      check_to_hide_or_show_add_child_link();
    });

    $('#children').on('cocoon:after-remove', function() {
      check_to_hide_or_show_add_child_link();
    });

    check_to_hide_or_show_add_child_link();

    function check_to_hide_or_show_add_child_link() {
      if ($('#children .nested-fields').length >= <%= Parent::LIMIT_NUMBER_OF_CHILDREN %>) {
        $('#add_child a').hide();
      } else {
        $('#add_child a').show();
      }
    }
  })
</script>
