<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @parent.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @parent.name %>
</p>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
